.flow.json.backup
[
    {
        "id": "5bf4d8fa824f3af5",
        "type": "tab",
        "label": "Advance Usage - Files",
        "disabled": false,
        "info": "https://jsonata.org"
    },
    {
        "id": "8472658c764652bf",
        "type": "tab",
        "label": "Advance Usage - Parsers",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1bff67c84ee97dc7",
        "type": "tab",
        "label": "Advance Usage - Sequences",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bb05274a3534162c",
        "type": "tab",
        "label": "Advance Usage - Networking",
        "disabled": false,
        "info": ""
    },
    {
        "id": "67061c4a1001d07b",
        "type": "subflow",
        "name": "isENOENT",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "65e2d638be03cf24"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 80,
                "wires": [
                    {
                        "id": "b53bd9a8fd1385b7",
                        "port": 0
                    },
                    {
                        "id": "bd8d9227b6985d1f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "2b9fafefddce1dd5",
        "type": "subflow",
        "name": "parseHTML",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "59be25ae4f0f7ba3"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 900,
                "y": 100,
                "wires": [
                    {
                        "id": "cb455214cd1bdbd4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "5ab540f1fabd0c86",
        "type": "websocket-listener",
        "path": "/ws/test",
        "wholemsg": "false"
    },
    {
        "id": "ebe4e36f04b9d5cb",
        "type": "http in",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "url": "/myfile",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "5c1f26e6f5420816"
            ]
        ]
    },
    {
        "id": "181481bee563e1cd",
        "type": "http response",
        "z": "5bf4d8fa824f3af5",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 540,
        "y": 260,
        "wires": []
    },
    {
        "id": "fbfcf667ea775323",
        "type": "http in",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "url": "/myfile",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "95418b31b2710e29"
            ]
        ]
    },
    {
        "id": "487774c9adafa28d",
        "type": "http response",
        "z": "5bf4d8fa824f3af5",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "f7909d2e13135613",
        "type": "http in",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "url": "/myfile",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "a72cc831218808e8"
            ]
        ]
    },
    {
        "id": "07026496def5afb9",
        "type": "http response",
        "z": "5bf4d8fa824f3af5",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "95418b31b2710e29",
        "type": "file in",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "filename": "myfile.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 310,
        "y": 40,
        "wires": [
            [
                "6ff9b55d81be4dc8"
            ]
        ]
    },
    {
        "id": "a72cc831218808e8",
        "type": "file",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "filename": "myfile.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "07026496def5afb9",
                "737118b2342fd219"
            ]
        ]
    },
    {
        "id": "6ff9b55d81be4dc8",
        "type": "function",
        "z": "5bf4d8fa824f3af5",
        "name": "readFile",
        "func": "msg.payload = {\n    fileContent: JSON.parse(msg.payload)\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 40,
        "wires": [
            [
                "487774c9adafa28d"
            ]
        ]
    },
    {
        "id": "2090b3d42f0cc237",
        "type": "catch",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "scope": [
            "95418b31b2710e29"
        ],
        "uncaught": false,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "a68ecfc7e81663a7"
            ]
        ]
    },
    {
        "id": "244e0ed6e652c2dc",
        "type": "watch",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "files": "upload.txt",
        "recursive": "",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "628ab0b0ce0e2b5e",
                "259289c6e80f1b95"
            ]
        ]
    },
    {
        "id": "628ab0b0ce0e2b5e",
        "type": "debug",
        "z": "5bf4d8fa824f3af5",
        "name": "seeChanges",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 420,
        "wires": []
    },
    {
        "id": "fe3d4a2f214e82e7",
        "type": "http request",
        "z": "5bf4d8fa824f3af5",
        "name": "getFile",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/myfile",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 340,
        "wires": [
            [
                "fa8f846c2f9f7352"
            ]
        ]
    },
    {
        "id": "fa8f846c2f9f7352",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.fileContent",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.extraContent",
                "pt": "msg",
                "to": "uploadContent",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 340,
        "wires": [
            [
                "f6a840d68ee4ee93",
                "afd2a179553eaae6"
            ]
        ]
    },
    {
        "id": "259289c6e80f1b95",
        "type": "file in",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "filename": "upload.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "bcb9431adc245c79"
            ]
        ]
    },
    {
        "id": "f6a840d68ee4ee93",
        "type": "http request",
        "z": "5bf4d8fa824f3af5",
        "name": "postFile",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/myfile",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1020,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "afd2a179553eaae6",
        "type": "debug",
        "z": "5bf4d8fa824f3af5",
        "name": "seePayload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 420,
        "wires": []
    },
    {
        "id": "bcb9431adc245c79",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "uploadContent",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "fe3d4a2f214e82e7"
            ]
        ]
    },
    {
        "id": "b53bd9a8fd1385b7",
        "type": "change",
        "z": "67061c4a1001d07b",
        "name": "fileNotFound",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"message\":\"File not found\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "404",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "65e2d638be03cf24",
        "type": "switch",
        "z": "67061c4a1001d07b",
        "name": "isENOENT",
        "property": "error.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ENOENT",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "b53bd9a8fd1385b7"
            ],
            [
                "bd8d9227b6985d1f"
            ]
        ]
    },
    {
        "id": "bd8d9227b6985d1f",
        "type": "change",
        "z": "67061c4a1001d07b",
        "name": "genericError",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"message\":\"Error retrieving file\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a68ecfc7e81663a7",
        "type": "subflow:67061c4a1001d07b",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "487774c9adafa28d"
            ]
        ]
    },
    {
        "id": "978106dbc153416c",
        "type": "catch",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "scope": [
            "259289c6e80f1b95"
        ],
        "uncaught": false,
        "x": 90,
        "y": 500,
        "wires": [
            [
                "6596ffafad7d8b15"
            ]
        ]
    },
    {
        "id": "6596ffafad7d8b15",
        "type": "subflow:67061c4a1001d07b",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "x": 260,
        "y": 500,
        "wires": [
            [
                "cafa5060028729c1",
                "57e1c03dbb851651"
            ]
        ]
    },
    {
        "id": "cafa5060028729c1",
        "type": "debug",
        "z": "5bf4d8fa824f3af5",
        "name": "DOES NOT EXIST",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 500,
        "wires": []
    },
    {
        "id": "5c1f26e6f5420816",
        "type": "file",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "filename": "myfile.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "utf8",
        "x": 330,
        "y": 260,
        "wires": [
            [
                "181481bee563e1cd"
            ]
        ]
    },
    {
        "id": "b62c97197f07b157",
        "type": "csv",
        "z": "8472658c764652bf",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "f66905a359ac9c8a",
                "496f389575c2830a"
            ]
        ]
    },
    {
        "id": "29144ed88d9e0e1c",
        "type": "html",
        "z": "8472658c764652bf",
        "name": "html-body",
        "property": "payload",
        "outproperty": "payload",
        "tag": "body",
        "ret": "html",
        "as": "single",
        "x": 580,
        "y": 260,
        "wires": [
            [
                "f66905a359ac9c8a",
                "498536faa246a5d6"
            ]
        ]
    },
    {
        "id": "8a5e73d8d515ae1a",
        "type": "json",
        "z": "8472658c764652bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "f66905a359ac9c8a",
                "1b9233d76ff82993"
            ]
        ]
    },
    {
        "id": "73060c1ebb98b5f0",
        "type": "xml",
        "z": "8472658c764652bf",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 570,
        "y": 340,
        "wires": [
            [
                "f66905a359ac9c8a",
                "c3e2f0d132bbfb3d"
            ]
        ]
    },
    {
        "id": "ac49e26d476a3814",
        "type": "yaml",
        "z": "8472658c764652bf",
        "property": "payload",
        "name": "",
        "x": 570,
        "y": 180,
        "wires": [
            [
                "f66905a359ac9c8a",
                "68edad07499f3e39"
            ]
        ]
    },
    {
        "id": "4ccc0990292648b6",
        "type": "http in",
        "z": "8472658c764652bf",
        "name": "",
        "url": "/upload",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "a535ae802f383516"
            ]
        ]
    },
    {
        "id": "ef5dbd7d9bbea3c8",
        "type": "http in",
        "z": "8472658c764652bf",
        "name": "",
        "url": "/parser",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "65aa94eb26e9c547"
            ]
        ]
    },
    {
        "id": "65aa94eb26e9c547",
        "type": "template",
        "z": "8472658c764652bf",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1>Upload a file here:</h1>\n\n<form action=\"/upload\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>",
        "output": "str",
        "x": 290,
        "y": 60,
        "wires": [
            [
                "0f460e82637c41d3"
            ]
        ]
    },
    {
        "id": "0f460e82637c41d3",
        "type": "http response",
        "z": "8472658c764652bf",
        "name": "",
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "a535ae802f383516",
        "type": "function",
        "z": "8472658c764652bf",
        "name": "toBase64",
        "func": "if (!!msg.req.files && !!msg.req.files[0]) {\n    msg.name = msg.req.files[0].originalname;\n    msg.payload = msg.req.files[0].buffer.toString();\n    return [msg, null];\n} else {\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 220,
        "wires": [
            [
                "0736730f7e2f7667",
                "6c27464bf864eac6"
            ],
            [
                "7844e32d7479ca97"
            ]
        ]
    },
    {
        "id": "0736730f7e2f7667",
        "type": "debug",
        "z": "8472658c764652bf",
        "name": "debugUpload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "3932dae294d94ace",
        "type": "http response",
        "z": "8472658c764652bf",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 1420,
        "y": 520,
        "wires": []
    },
    {
        "id": "6c27464bf864eac6",
        "type": "switch",
        "z": "8472658c764652bf",
        "name": "checkType",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": ".yaml",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": ".csv",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": ".html",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": ".json",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": ".xml",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 310,
        "y": 240,
        "wires": [
            [
                "ac49e26d476a3814"
            ],
            [
                "b62c97197f07b157"
            ],
            [
                "29144ed88d9e0e1c"
            ],
            [
                "8a5e73d8d515ae1a"
            ],
            [
                "73060c1ebb98b5f0"
            ],
            [
                "24ee5da79917e3d3"
            ]
        ]
    },
    {
        "id": "f66905a359ac9c8a",
        "type": "debug",
        "z": "8472658c764652bf",
        "name": "debugParsed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "1b9233d76ff82993",
        "type": "template",
        "z": "8472658c764652bf",
        "name": "links",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1><b>Host:</b> {{payload.host}}</h1>\n\n{{#payload.paths}}\n    <p>\n        <a \n            href=\"https://{{payload.host}}{{payload.basePath}}{{.}}\"\n            target=\"_blank\"\n        >\n            {{.}}\n        </a>\n    </p>\n{{/payload.paths}}",
        "output": "str",
        "x": 1210,
        "y": 240,
        "wires": [
            [
                "3932dae294d94ace",
                "cf804d85a90070b3",
                "16870d35540061d1"
            ]
        ]
    },
    {
        "id": "c3e2f0d132bbfb3d",
        "type": "change",
        "z": "8472658c764652bf",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$.payload.xml.{\t    \"host\": host.\"_\",\t    \"basePath\":host.\"$\".basePath,\t    \"paths\": paths.path.\"$\".url\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 340,
        "wires": [
            [
                "1b9233d76ff82993"
            ]
        ]
    },
    {
        "id": "59be25ae4f0f7ba3",
        "type": "change",
        "z": "2b9fafefddce1dd5",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 60,
        "wires": [
            [
                "21d7705643bb1720",
                "e349e937f8f9c5bc",
                "065a09f2f403d79f"
            ]
        ]
    },
    {
        "id": "498536faa246a5d6",
        "type": "subflow:2b9fafefddce1dd5",
        "z": "8472658c764652bf",
        "name": "",
        "x": 870,
        "y": 260,
        "wires": [
            [
                "1b9233d76ff82993"
            ]
        ]
    },
    {
        "id": "5c2bfd3557a4fa57",
        "type": "debug",
        "z": "2b9fafefddce1dd5",
        "name": "debugParsedHTML",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 200,
        "wires": []
    },
    {
        "id": "21d7705643bb1720",
        "type": "html",
        "z": "2b9fafefddce1dd5",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "h1",
        "ret": "html",
        "as": "single",
        "x": 390,
        "y": 60,
        "wires": [
            [
                "074295bd59c91721"
            ]
        ]
    },
    {
        "id": "cb455214cd1bdbd4",
        "type": "join",
        "z": "2b9fafefddce1dd5",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 770,
        "y": 100,
        "wires": [
            [
                "5c2bfd3557a4fa57"
            ]
        ]
    },
    {
        "id": "e349e937f8f9c5bc",
        "type": "html",
        "z": "2b9fafefddce1dd5",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "h2",
        "ret": "html",
        "as": "single",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "c692bb6bc8a55879"
            ]
        ]
    },
    {
        "id": "065a09f2f403d79f",
        "type": "html",
        "z": "2b9fafefddce1dd5",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "#paths li",
        "ret": "html",
        "as": "single",
        "x": 400,
        "y": 140,
        "wires": [
            [
                "798706d88fddbf72"
            ]
        ]
    },
    {
        "id": "074295bd59c91721",
        "type": "change",
        "z": "2b9fafefddce1dd5",
        "name": "setTopic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "host",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 60,
        "wires": [
            [
                "cb455214cd1bdbd4"
            ]
        ]
    },
    {
        "id": "c692bb6bc8a55879",
        "type": "change",
        "z": "2b9fafefddce1dd5",
        "name": "setTopic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "basePath",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "cb455214cd1bdbd4"
            ]
        ]
    },
    {
        "id": "798706d88fddbf72",
        "type": "change",
        "z": "2b9fafefddce1dd5",
        "name": "setTopic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "paths",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 140,
        "wires": [
            [
                "cb455214cd1bdbd4"
            ]
        ]
    },
    {
        "id": "496f389575c2830a",
        "type": "change",
        "z": "8472658c764652bf",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"host\": $.payload.host,\t    \"basePath\": $.payload.basePath,\t    \"paths\": $.payload.paths\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 220,
        "wires": [
            [
                "1b9233d76ff82993"
            ]
        ]
    },
    {
        "id": "68edad07499f3e39",
        "type": "change",
        "z": "8472658c764652bf",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"host\": $.payload.host,\t    \"basePath\": $.payload.basePath,\t    \"paths\": $keys($.payload.paths)\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 180,
        "wires": [
            [
                "1b9233d76ff82993"
            ]
        ]
    },
    {
        "id": "cf804d85a90070b3",
        "type": "debug",
        "z": "8472658c764652bf",
        "name": "debugTemplate",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 240,
        "wires": []
    },
    {
        "id": "24ee5da79917e3d3",
        "type": "template",
        "z": "8472658c764652bf",
        "name": "setError",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1><b>This document has no parser specified</b></h1>",
        "output": "str",
        "x": 580,
        "y": 460,
        "wires": [
            [
                "3932dae294d94ace",
                "16870d35540061d1"
            ]
        ]
    },
    {
        "id": "16870d35540061d1",
        "type": "link out",
        "z": "8472658c764652bf",
        "name": "",
        "links": [
            "f8a3cb3e509f3188"
        ],
        "x": 1155,
        "y": 400,
        "wires": []
    },
    {
        "id": "f8a3cb3e509f3188",
        "type": "link in",
        "z": "8472658c764652bf",
        "name": "",
        "links": [
            "16870d35540061d1",
            "cc4c2a4f773c16ba",
            "737118b2342fd219",
            "57e1c03dbb851651"
        ],
        "x": 1955,
        "y": 340,
        "wires": [
            [
                "40b06f8d21576a55"
            ]
        ]
    },
    {
        "id": "e86f6777bc42ed0c",
        "type": "file",
        "z": "8472658c764652bf",
        "name": "",
        "filename": "log.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 2090,
        "y": 380,
        "wires": [
            [
                "33d00a081273da27"
            ]
        ]
    },
    {
        "id": "33d00a081273da27",
        "type": "debug",
        "z": "8472658c764652bf",
        "name": "commonLog",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "log",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2110,
        "y": 420,
        "wires": []
    },
    {
        "id": "40b06f8d21576a55",
        "type": "change",
        "z": "8472658c764652bf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "log",
                "pt": "msg",
                "to": "$fromMillis($millis(), '[D01]/[M01]/[Y0001] [H01]:[m01]:[s01]', '+0200') &\t' - ' & $.payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2110,
        "y": 340,
        "wires": [
            [
                "e86f6777bc42ed0c"
            ]
        ]
    },
    {
        "id": "737118b2342fd219",
        "type": "link out",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "links": [
            "f8a3cb3e509f3188"
        ],
        "x": 435,
        "y": 140,
        "wires": []
    },
    {
        "id": "57e1c03dbb851651",
        "type": "link out",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "links": [
            "f8a3cb3e509f3188"
        ],
        "x": 395,
        "y": 560,
        "wires": []
    },
    {
        "id": "7844e32d7479ca97",
        "type": "template",
        "z": "8472658c764652bf",
        "name": "setErrorNoFile",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1><b>Document was empty</b></h1>",
        "output": "str",
        "x": 320,
        "y": 520,
        "wires": [
            [
                "3932dae294d94ace",
                "16870d35540061d1"
            ]
        ]
    },
    {
        "id": "159c8935edb8959f",
        "type": "batch",
        "z": "1bff67c84ee97dc7",
        "name": "",
        "mode": "count",
        "count": "3",
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [],
        "x": 350,
        "y": 400,
        "wires": [
            [
                "20e4b4fb3b8bced5",
                "202099ad27647240"
            ]
        ]
    },
    {
        "id": "da7398bb13ac4a1f",
        "type": "http in",
        "z": "1bff67c84ee97dc7",
        "name": "",
        "url": "/batch",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "031208cac1fba912",
                "7aa67010e7088251"
            ]
        ]
    },
    {
        "id": "09f144fecf51f235",
        "type": "http response",
        "z": "1bff67c84ee97dc7",
        "name": "responseBatch",
        "statusCode": "",
        "headers": {},
        "x": 1620,
        "y": 400,
        "wires": []
    },
    {
        "id": "031208cac1fba912",
        "type": "debug",
        "z": "1bff67c84ee97dc7",
        "name": "debugBatchBefore",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 300,
        "wires": []
    },
    {
        "id": "20e4b4fb3b8bced5",
        "type": "debug",
        "z": "1bff67c84ee97dc7",
        "name": "debugBatchAfter",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 440,
        "wires": []
    },
    {
        "id": "26b0e44380a93c0d",
        "type": "join",
        "z": "1bff67c84ee97dc7",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 730,
        "y": 400,
        "wires": [
            [
                "d769f4d8dcba8b15",
                "f8132552104b39e6"
            ]
        ]
    },
    {
        "id": "d769f4d8dcba8b15",
        "type": "debug",
        "z": "1bff67c84ee97dc7",
        "name": "debugBatchEnd",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 480,
        "wires": []
    },
    {
        "id": "f8132552104b39e6",
        "type": "sort",
        "z": "1bff67c84ee97dc7",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "$.order",
        "msgKeyType": "jsonata",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 890,
        "y": 400,
        "wires": [
            [
                "b3fa228ba4d01ddf",
                "c36ec3c03d8b2d79"
            ]
        ]
    },
    {
        "id": "c36ec3c03d8b2d79",
        "type": "split",
        "z": "1bff67c84ee97dc7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1050,
        "y": 400,
        "wires": [
            [
                "cfa3463e1a06bd09",
                "e50c6c1046f16d8a"
            ]
        ]
    },
    {
        "id": "bad6eda52bee5ea1",
        "type": "join",
        "z": "1bff67c84ee97dc7",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1430,
        "y": 400,
        "wires": [
            [
                "6afb4365753ee174",
                "09f144fecf51f235"
            ]
        ]
    },
    {
        "id": "cfa3463e1a06bd09",
        "type": "debug",
        "z": "1bff67c84ee97dc7",
        "name": "debugSplitted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 360,
        "wires": []
    },
    {
        "id": "6afb4365753ee174",
        "type": "debug",
        "z": "1bff67c84ee97dc7",
        "name": "debug2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 460,
        "wires": []
    },
    {
        "id": "e50c6c1046f16d8a",
        "type": "change",
        "z": "1bff67c84ee97dc7",
        "name": "setRequestData",
        "rules": [
            {
                "t": "set",
                "p": "oldPayload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "'http://localhost:1880/order/' & $.payload.order",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "GET",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 440,
        "wires": [
            [
                "80be44ec5e76c44d"
            ]
        ]
    },
    {
        "id": "db0a72d341f947e2",
        "type": "http in",
        "z": "1bff67c84ee97dc7",
        "name": "",
        "url": "/order/:orderNumber",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "4da4b87bdfe2d9b7",
                "b8460cbe53703918"
            ]
        ]
    },
    {
        "id": "4da4b87bdfe2d9b7",
        "type": "switch",
        "z": "1bff67c84ee97dc7",
        "name": "getDetail",
        "property": "req.params.orderNumber",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "fa966839e1898c65"
            ],
            [
                "70b33d8bc43f9982"
            ],
            [
                "18dddf8f8573cb23"
            ],
            [
                "7f88e741ad703a8e"
            ],
            [
                "79d6e25ddcdb6723"
            ],
            [
                "dd378846e69d2a75"
            ]
        ]
    },
    {
        "id": "fa966839e1898c65",
        "type": "change",
        "z": "1bff67c84ee97dc7",
        "name": "setDetail",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Carlos\",\"age\":15}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 40,
        "wires": [
            [
                "5908fdf95b91d916"
            ]
        ]
    },
    {
        "id": "70b33d8bc43f9982",
        "type": "change",
        "z": "1bff67c84ee97dc7",
        "name": "setDetail",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Pedro\",\"age\":30}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 80,
        "wires": [
            [
                "5908fdf95b91d916"
            ]
        ]
    },
    {
        "id": "18dddf8f8573cb23",
        "type": "change",
        "z": "1bff67c84ee97dc7",
        "name": "setDetail",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Manuel\",\"age\":80}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 120,
        "wires": [
            [
                "5908fdf95b91d916"
            ]
        ]
    },
    {
        "id": "7f88e741ad703a8e",
        "type": "change",
        "z": "1bff67c84ee97dc7",
        "name": "setDetail",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Andrea\",\"age\":23}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 160,
        "wires": [
            [
                "5908fdf95b91d916"
            ]
        ]
    },
    {
        "id": "79d6e25ddcdb6723",
        "type": "change",
        "z": "1bff67c84ee97dc7",
        "name": "setDetail",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Silvia\",\"age\":12}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 200,
        "wires": [
            [
                "5908fdf95b91d916"
            ]
        ]
    },
    {
        "id": "dd378846e69d2a75",
        "type": "change",
        "z": "1bff67c84ee97dc7",
        "name": "setDetail",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Alberto\",\"age\":22}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "5908fdf95b91d916"
            ]
        ]
    },
    {
        "id": "5908fdf95b91d916",
        "type": "http response",
        "z": "1bff67c84ee97dc7",
        "name": "responseDetail",
        "statusCode": "",
        "headers": {},
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "b3fa228ba4d01ddf",
        "type": "debug",
        "z": "1bff67c84ee97dc7",
        "name": "debugBatchSorted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 440,
        "wires": []
    },
    {
        "id": "80be44ec5e76c44d",
        "type": "http request",
        "z": "1bff67c84ee97dc7",
        "name": "requestData",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1230,
        "y": 480,
        "wires": [
            [
                "aa6c6afbbfddc330"
            ]
        ]
    },
    {
        "id": "aa6c6afbbfddc330",
        "type": "change",
        "z": "1bff67c84ee97dc7",
        "name": "processData",
        "rules": [
            {
                "t": "set",
                "p": "oldPayload.details",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "oldPayload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 520,
        "wires": [
            [
                "bad6eda52bee5ea1"
            ]
        ]
    },
    {
        "id": "b8460cbe53703918",
        "type": "debug",
        "z": "1bff67c84ee97dc7",
        "name": "dataRequested",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 120,
        "y": 100,
        "wires": []
    },
    {
        "id": "67650d6d5beb3776",
        "type": "websocket in",
        "z": "bb05274a3534162c",
        "name": "",
        "server": "5ab540f1fabd0c86",
        "client": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "a737e8781612d205"
            ]
        ]
    },
    {
        "id": "0b6016a5a00ef9ea",
        "type": "websocket out",
        "z": "bb05274a3534162c",
        "name": "",
        "server": "5ab540f1fabd0c86",
        "client": "",
        "x": 470,
        "y": 60,
        "wires": []
    },
    {
        "id": "a737e8781612d205",
        "type": "function",
        "z": "bb05274a3534162c",
        "name": "logWS",
        "func": "const payload = JSON.parse(msg.payload);\nif (!!payload.message) {\n    node.warn(payload.message);\n    return;\n}\n\nif (!!payload.myText || payload.myText === \"\") {\n    msg.payload = {\n        message: 'Text received',\n        text: payload.myText\n    };\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 60,
        "wires": [
            [
                "0b6016a5a00ef9ea"
            ]
        ]
    },
    {
        "id": "bc3814ded9105cb3",
        "type": "http in",
        "z": "bb05274a3534162c",
        "name": "",
        "url": "/ws/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "1e651b8c3d0f5ee8"
            ]
        ]
    },
    {
        "id": "1e651b8c3d0f5ee8",
        "type": "template",
        "z": "bb05274a3534162c",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1>Test WebSockets:</h1>\n\n<form>\n    <input id=\"myText\" type=\"text\" name=\"myText\" />\n    <input id=\"submit\" type=\"submit\" value=\"Submit\">\n</form>\n<br/><br/>\n<div id=\"output\">\n</div>\n\n<script>\n    const socket = new WebSocket(\"ws://localhost:1880/ws/test\");\n    socket.onopen = () => {\n        socket.send(JSON.stringify({ message: 'Client connected!'}));\n    };\n    socket.onmessage = (event) => {\n        const { message, text} = JSON.parse(event.data);\n        document.getElementById('output').innerHTML = `\n        <p>Server says: ${message}</p>\n        <br/>\n        <p>Your text was: '${text}'</p>`;\n    };\n    \n    function docReady(fn) {\n        if (document.readyState === \"complete\" || document.readyState === \"interactive\") {\n            setTimeout(fn, 1);\n        } else {\n            document.addEventListener(\"DOMContentLoaded\", fn);\n        }\n    }\n    docReady(function() {\n        document.getElementById('submit').onclick = (ev) => {\n            ev.preventDefault();\n            document.getElementById('output').innerHTML = '';\n            socket.send(JSON.stringify({ myText: document.getElementById('myText').value}));\n        };\n        \n        document.getElementById('myText').onkeydown = (ev) => {\n            document.getElementById('output').innerHTML = '';\n        };\n    });\n</script>",
        "output": "str",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "80d3128ef388438b"
            ]
        ]
    },
    {
        "id": "80d3128ef388438b",
        "type": "http response",
        "z": "bb05274a3534162c",
        "name": "responseTemplateWS",
        "statusCode": "",
        "headers": {},
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "7aa67010e7088251",
        "type": "change",
        "z": "1bff67c84ee97dc7",
        "name": "setNumRequest",
        "rules": [
            {
                "t": "set",
                "p": "batchRequest",
                "pt": "flow",
                "to": "$flowContext('batchRequest') ?\t    ($flowContext('batchRequest') + 1) : 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "5972f8c338cf6866"
            ]
        ]
    },
    {
        "id": "202099ad27647240",
        "type": "change",
        "z": "1bff67c84ee97dc7",
        "name": "resetNumRequest",
        "rules": [
            {
                "t": "set",
                "p": "batchRequest",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 400,
        "wires": [
            [
                "26b0e44380a93c0d"
            ]
        ]
    },
    {
        "id": "5972f8c338cf6866",
        "type": "switch",
        "z": "1bff67c84ee97dc7",
        "name": "switchNumRequest",
        "property": "batchRequest",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "159c8935edb8959f"
            ],
            [
                "c09cedefc99f8c52",
                "159c8935edb8959f"
            ]
        ]
    },
    {
        "id": "8193a1e42e439181",
        "type": "http response",
        "z": "1bff67c84ee97dc7",
        "name": "responseAcceptedBatch",
        "statusCode": "202",
        "headers": {},
        "x": 410,
        "y": 580,
        "wires": []
    },
    {
        "id": "c09cedefc99f8c52",
        "type": "change",
        "z": "1bff67c84ee97dc7",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"message\":\"Request accepted\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 540,
        "wires": [
            [
                "8193a1e42e439181"
            ]
        ]
    },
    {
        "id": "814063a81c5f94f6",
        "type": "inject",
        "z": "1bff67c84ee97dc7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 720,
        "wires": [
            [
                "75d035ec684d5106"
            ]
        ]
    },
    {
        "id": "75d035ec684d5106",
        "type": "debug",
        "z": "1bff67c84ee97dc7",
        "name": "debugBatchAfter",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$flowContext('batchNumber')",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 720,
        "wires": []
    }
]