.flow.json.backup
[
    {
        "id": "5bf4d8fa824f3af5",
        "type": "tab",
        "label": "Using JSONata",
        "disabled": false,
        "info": "https://jsonata.org"
    },
    {
        "id": "ebe4e36f04b9d5cb",
        "type": "http in",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "url": "/basic",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "93bdde8199e5affa"
            ]
        ]
    },
    {
        "id": "181481bee563e1cd",
        "type": "http response",
        "z": "5bf4d8fa824f3af5",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "9d487337ca79ea86",
        "type": "http in",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "url": "/error",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "4388d16c32fd5be4"
            ]
        ]
    },
    {
        "id": "6ea721584b160273",
        "type": "http response",
        "z": "5bf4d8fa824f3af5",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "a783b9ba489ef81f",
        "type": "http in",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "url": "/query",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "8950c9ed27f1cc5e"
            ]
        ]
    },
    {
        "id": "387e2dcd6be1f519",
        "type": "http response",
        "z": "5bf4d8fa824f3af5",
        "name": "response",
        "statusCode": "200",
        "headers": {},
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "01279eb12f7cc4aa",
        "type": "http response",
        "z": "5bf4d8fa824f3af5",
        "name": "errorResponse",
        "statusCode": "400",
        "headers": {},
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "b905dae0066e4dd9",
        "type": "debug",
        "z": "5bf4d8fa824f3af5",
        "name": "OK",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "6c1c68117668c2a0",
        "type": "debug",
        "z": "5bf4d8fa824f3af5",
        "name": "KO",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "8e7288966427e46c",
        "type": "http in",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "url": "/flow",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 880,
        "y": 140,
        "wires": [
            [
                "1098027d61630490"
            ]
        ]
    },
    {
        "id": "b72b8f420b409b43",
        "type": "http response",
        "z": "5bf4d8fa824f3af5",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 1260,
        "y": 140,
        "wires": []
    },
    {
        "id": "9fe47440a05af6af",
        "type": "http in",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "url": "/global",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 890,
        "y": 220,
        "wires": [
            [
                "15fd28ce88bfc578"
            ]
        ]
    },
    {
        "id": "84d6a85a1993e928",
        "type": "http response",
        "z": "5bf4d8fa824f3af5",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 1280,
        "y": 220,
        "wires": []
    },
    {
        "id": "f764b8537c31e0ad",
        "type": "inject",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 870,
        "y": 60,
        "wires": [
            [
                "9ea82d29e5a8d0ff"
            ]
        ]
    },
    {
        "id": "2e829635dd029ca3",
        "type": "http request",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1570,
        "y": 400,
        "wires": [
            [
                "5c015446edb31e63",
                "902d1202897a504e"
            ]
        ]
    },
    {
        "id": "c0d02fe4cb8b5852",
        "type": "http in",
        "z": "5bf4d8fa824f3af5",
        "d": true,
        "name": "",
        "url": "/withRequest/:type",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 920,
        "y": 400,
        "wires": [
            [
                "3257b376d9334e2d"
            ]
        ]
    },
    {
        "id": "78a70e7e8de991e2",
        "type": "http response",
        "z": "5bf4d8fa824f3af5",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 1740,
        "y": 440,
        "wires": []
    },
    {
        "id": "5c015446edb31e63",
        "type": "function",
        "z": "5bf4d8fa824f3af5",
        "name": "setResponse",
        "func": "msg.statusCode = msg.payload.status;\nmsg.payload = {\n    response: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 400,
        "wires": [
            [
                "78a70e7e8de991e2"
            ]
        ]
    },
    {
        "id": "902d1202897a504e",
        "type": "debug",
        "z": "5bf4d8fa824f3af5",
        "name": "seeRequest",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 320,
        "wires": []
    },
    {
        "id": "3d85c3586e87ceff",
        "type": "http in",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "url": "/post",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "4095a5c4b92e1119"
            ]
        ]
    },
    {
        "id": "feb3d1d3f1615a77",
        "type": "http response",
        "z": "5bf4d8fa824f3af5",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "93bdde8199e5affa",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":200,\"message\":\"First endpoint works!\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 60,
        "wires": [
            [
                "181481bee563e1cd"
            ]
        ]
    },
    {
        "id": "4388d16c32fd5be4",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":400,\"message\":\"Error works!\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "400",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "6ea721584b160273"
            ]
        ]
    },
    {
        "id": "4095a5c4b92e1119",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"incoming\": $.req.body,\t    \"status\": 200\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "feb3d1d3f1615a77"
            ]
        ]
    },
    {
        "id": "8950c9ed27f1cc5e",
        "type": "switch",
        "z": "5bf4d8fa824f3af5",
        "name": "setPayloadSwitch",
        "property": "req.query.error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 310,
        "y": 380,
        "wires": [
            [
                "c2cc8c32d5d54729"
            ],
            [
                "8f662fd6090923de"
            ],
            [
                "c2cc8c32d5d54729"
            ]
        ]
    },
    {
        "id": "c2cc8c32d5d54729",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":200,\"message\":\"It has no query error!\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 320,
        "wires": [
            [
                "387e2dcd6be1f519",
                "b905dae0066e4dd9"
            ]
        ]
    },
    {
        "id": "8f662fd6090923de",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":400,\"message\":\"It has query error\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 420,
        "wires": [
            [
                "01279eb12f7cc4aa",
                "6c1c68117668c2a0"
            ]
        ]
    },
    {
        "id": "dccedc07e01ccbb7",
        "type": "http in",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "url": "/param/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "895b1beb5699ae7a"
            ]
        ]
    },
    {
        "id": "c4bacb144675d4c0",
        "type": "http response",
        "z": "5bf4d8fa824f3af5",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 520,
        "y": 560,
        "wires": []
    },
    {
        "id": "895b1beb5699ae7a",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"status\": 200,\t    \"id\": $.req.params.id\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 560,
        "wires": [
            [
                "c4bacb144675d4c0"
            ]
        ]
    },
    {
        "id": "9ea82d29e5a8d0ff",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setContext",
        "rules": [
            {
                "t": "set",
                "p": "flowMessage",
                "pt": "flow",
                "to": "Message from flow context.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "1098027d61630490",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    status: 200,\t    message: $flowContext('flowMessage')\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 140,
        "wires": [
            [
                "b72b8f420b409b43"
            ]
        ]
    },
    {
        "id": "15fd28ce88bfc578",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    status: 200,\t    message: $globalContext('globalMessage')\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 220,
        "wires": [
            [
                "84d6a85a1993e928"
            ]
        ]
    },
    {
        "id": "ac6c35daace63d1c",
        "type": "switch",
        "z": "5bf4d8fa824f3af5",
        "name": "switchResponse",
        "property": "req.params.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "error",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "param",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "query",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "post",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1160,
        "y": 400,
        "wires": [
            [
                "f0ae8d167e1725b7"
            ],
            [
                "99259e9f6a631e89"
            ],
            [
                "c62dc74b93129e9b"
            ],
            [
                "c5f05b7661bd7c27"
            ],
            [
                "95275e61f952e0c7"
            ]
        ]
    },
    {
        "id": "f0ae8d167e1725b7",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "$.url & '/error'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 320,
        "wires": [
            [
                "2e829635dd029ca3"
            ]
        ]
    },
    {
        "id": "3257b376d9334e2d",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setBaseParams",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "GET",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://localhost:1880",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 340,
        "wires": [
            [
                "ac6c35daace63d1c"
            ]
        ]
    },
    {
        "id": "99259e9f6a631e89",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "$.url & '/param/4'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 360,
        "wires": [
            [
                "2e829635dd029ca3"
            ]
        ]
    },
    {
        "id": "c62dc74b93129e9b",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "$.url & '/query?error=true'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 400,
        "wires": [
            [
                "2e829635dd029ca3"
            ]
        ]
    },
    {
        "id": "c5f05b7661bd7c27",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "$.url & '/post'",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"message\":\"Message from the other request\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "POST",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 440,
        "wires": [
            [
                "2e829635dd029ca3"
            ]
        ]
    },
    {
        "id": "95275e61f952e0c7",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setPayload",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "$.url & '/basic'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 480,
        "wires": [
            [
                "2e829635dd029ca3"
            ]
        ]
    },
    {
        "id": "7314d38726067b9f",
        "type": "http request",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1370,
        "y": 620,
        "wires": [
            [
                "a5cbcd2440a1e122",
                "78aaeb9944d7a2da"
            ]
        ]
    },
    {
        "id": "0f551992e614424b",
        "type": "http in",
        "z": "5bf4d8fa824f3af5",
        "name": "",
        "url": "/withRequest/:type",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 920,
        "y": 620,
        "wires": [
            [
                "b61b485e10acbc5e"
            ]
        ]
    },
    {
        "id": "135cdcbeb3bf92b5",
        "type": "http response",
        "z": "5bf4d8fa824f3af5",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 1560,
        "y": 660,
        "wires": []
    },
    {
        "id": "a5cbcd2440a1e122",
        "type": "function",
        "z": "5bf4d8fa824f3af5",
        "name": "setResponse",
        "func": "msg.statusCode = msg.payload.status;\nmsg.payload = {\n    response: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 620,
        "wires": [
            [
                "135cdcbeb3bf92b5"
            ]
        ]
    },
    {
        "id": "78aaeb9944d7a2da",
        "type": "debug",
        "z": "5bf4d8fa824f3af5",
        "name": "seeRequest",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 540,
        "wires": []
    },
    {
        "id": "30794c0de9e3cec4",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setParams",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "(\t\t$paramType := $.req.params.type;\t\t$.url & (\t    $paramType = 'error' ?\t        '/error' : \t            $paramType = 'param' ?\t            '/param/4' : \t                $paramType = 'query' ? \t                    '/query?error=true' : \t                        $paramType = 'post' ? \t                            '/post' : '/basic'\t    )\t)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$.req.params.type = 'post' ? {\t   \"message\":\"Message from the other request\"\t} : null",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "$.req.params.type = 'post' ? 'POST' : 'GET'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 660,
        "wires": [
            [
                "7314d38726067b9f"
            ]
        ]
    },
    {
        "id": "b61b485e10acbc5e",
        "type": "change",
        "z": "5bf4d8fa824f3af5",
        "name": "setBaseParams",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "GET",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://localhost:1880",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 620,
        "wires": [
            [
                "30794c0de9e3cec4"
            ]
        ]
    }
]