flow.json
[
    {
        "id": "f18947fdb0194c96",
        "type": "tab",
        "label": "Custom nodes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5ab540f1fabd0c86",
        "type": "websocket-listener",
        "path": "/ws/test",
        "wholemsg": "false"
    },
    {
        "id": "c02538e644632547",
        "type": "exec",
        "z": "f18947fdb0194c96",
        "command": "dir",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "e634ada74a577da7"
            ],
            [
                "6cfaa1220424fd35"
            ],
            [
                "f5a4c485a4536649"
            ]
        ]
    },
    {
        "id": "61420d0d1b10c178",
        "type": "inject",
        "z": "f18947fdb0194c96",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "c02538e644632547"
            ]
        ]
    },
    {
        "id": "a07307e83207d0f3",
        "type": "debug",
        "z": "f18947fdb0194c96",
        "name": "stdOut",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 40,
        "wires": []
    },
    {
        "id": "6cfaa1220424fd35",
        "type": "debug",
        "z": "f18947fdb0194c96",
        "name": "stdErr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "f5a4c485a4536649",
        "type": "debug",
        "z": "f18947fdb0194c96",
        "name": "code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "e634ada74a577da7",
        "type": "function",
        "z": "f18947fdb0194c96",
        "name": "parseResult",
        "func": "if (msg.payload !== \"\") {\n    msg.payload = Buffer.from(msg.payload).toString('utf8');\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 40,
        "wires": [
            [
                "a07307e83207d0f3"
            ]
        ]
    },
    {
        "id": "5a7755dba61b6a90",
        "type": "exec-dir",
        "z": "f18947fdb0194c96",
        "name": "",
        "path": ".",
        "x": 280,
        "y": 180,
        "wires": [
            [
                "c90409c0bc520139"
            ]
        ]
    },
    {
        "id": "eb1a0a2b5e7c02b7",
        "type": "inject",
        "z": "f18947fdb0194c96",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "5a7755dba61b6a90"
            ]
        ]
    },
    {
        "id": "c90409c0bc520139",
        "type": "debug",
        "z": "f18947fdb0194c96",
        "name": "stdOut",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 180,
        "wires": []
    }
]